* {
  margin: 0;
  padding: 0;
  text-align: center;
}

h1 {
  background-color: rgb(3, 3, 55);
  color: white;
  height: 5rem;
  line-height: 5rem;
}

.choice {
  height: 300px;
  width: 300px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.choice:hover {
  cursor: pointer;
  background-color: rgb(3, 3, 55);
}

img {
  height: 265px;
  width: 265px;
  object-fit: cover;
  border-radius: 50%;
}

.choices {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-top: 5rem;
}

.scoreboard {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  margin-top: 3rem;
  gap: 5rem;
}

#user-score,
#comp-score {
  font-size: 2rem;
}

.msg-container {
  margin-top: 3rem;
  background-color: rgb(3, 3, 55);
  color: white;
  height: 4rem;
  line-height: 4rem;
  font-size: 2rem;
  display: inline-flex;
  padding: 1rem;
  border-radius: 50px;

}
